body {
    padding: 10vh 20vh;
}

.title-container {
    background-image: url("../assets/home.png");
    color: @headerColor;
    .flexboxCenter();

    h1 {
        font-size: 6rem;
        font-weight: bold;
        text-align: center;
    }
}